@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "Pixel Arial";
  src: url(/fonts/PIXEAB__.TTF) format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pixel Arial";
  src: url(/fonts/PIXEARG_.TTF) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #383636;
  }
}

.pixel-font {
  font-family: "Pixel Arial", monospace;
  letter-spacing: 0.2em;
}
 
.montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}